---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---
<h1>
	<img src="https://maestrothoughts.github.io/naenae_vol_3.gif" width="50" />
	Archive
	<img src="https://maestrothoughts.github.io/naenae_vol_3.gif" width="50" />
</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
