---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---
<h1>
	<img src="https://maestrothoughts.github.io/naenae_vol_3.gif" width="50" />
	Tagged “{{ tag }}”
	<img src="https://maestrothoughts.github.io/naenae_vol_3.gif" width="50" />
</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="{{  'tags.njk' | url }}">all tags</a>.</p>
