<h1>
	<img src="https://maestrothoughts.github.io/naenae_vol_3.gif" width="50" />
	Tags
	<img src="https://maestrothoughts.github.io/naenae_vol_3.gif" width="50" />
</h1>

<ul>
{% for tag in collections | getKeys | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{  tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
